<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1><%= title %></h1>
                <small>重度科幻迷</small>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <embed src="" allowFullScreen="true" quality="high" width="640" height="500" align="middle" type="application/x-shockwave-flash">
            </div>
            <div class="col-md-5">
                <dl class="dl-horizontal">
                    <dt>电影名字</dt>
                    <dd><%= movie.title%></dd>
                    <dt>导演</dt>
                    <dd><%= movie.director%></dd>
                    <dt>国家</dt>
                    <dd><%= movie.country%></dd>
                    <dt>语言</dt>
                    <dd><%= movie.language%></dd>
                    <dt>上映年份</dt>
                    <dd><%= movie.year%></dd>
                    <dt>简介</dt>
                    <dd><%= movie.summary%></dd>
                </dl>
            </div>
        </div>
    </div>
</body>
<!-- <script src="/jquery/dist/jquery.min.js" type="text/javascript"></script> -->
<script src="/bootstrap/assets/js/vendor/jquery-slim.min.js" type="text/javascript"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script>
     let movieData = "<%= JSON.stringify(movie) %>";
      let movie = JSON.parse(movieData.replace(/&#34;/g,'"'))
    console.log(movie);
</script>
</html>